@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    background-color: #272822;
    padding: 0.15rem 0.3rem;
    border-radius: 0.2rem;
    color: #ccc;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}
